/.env
/.idea
/public/bundles/
/var/
/vendor/
composer.phar
composer.lock
.composer
nginx.snippet
.vscode/settings.json
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
